<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url(<%= @list.image_url ? cl_image_path(@list.image_url, height: 300, crop: :fit) : 'https://imgsrc.cineserie.com/2017/02/Filmandclapboard.jpg?ver=1'%>)">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<ul>
  <% if @list.movies.empty? %>
    <li><em>No movie in this list yet</em></li>
   <% else %>
    <% @list.bookmarks.each do |bookmark| %>
      <li><%= bookmark.movie.title %>
      <%= bookmark.comment %>
      <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
      </li>
    <% end %>
  <% end %>
  <li><%= link_to "Add a movie", new_list_bookmark_path(@list) %></li>
</ul>

<%= link_to "Back to the lists", lists_path %>
